.card {
    height: 275px;
    position: relative;
    width: 250px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .img-container {
    height: 100%;
    overflow: hidden;
  }

  .card .img-container > img {
    width: 100%
  }